
.bg-custom
{
  background-image: linear-gradient(to right,#a2e7fc,#05b0c7);
}

.carousel-caption
{
  text-align: center;
  font-size: 40px;
  margin-top: 80px;
  
}

.social a:hover img
{
  transform: translateY(-15px);
}

.visit
{
  font-size: 60px;
}

.welcome
{
  font-size: 60px;
}

.jumbotron
{
  background-image: linear-gradient(to right,#82c3f8,#157cde);
  
  
}




.shruti-profile-pic
{
  border-radius: 50%;
}


